@using System.Threading
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>GetData</title>
</head>
<body>
    <div>
        <br/>
        -----------------<br />
        Ответ от удаленной службы (асинхронный контроллер) <br />
        @ViewBag.Message 
        <br/>
    </div>
</body>
</html>
